# Build Directories
/binary
.build/
build/

# Target Directories
debug/
target/

# Rust Format Backup Files
**/*.rs.bk

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.slo

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.lai

# Shared Objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug Files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug Information Files
*.dwo

# Environment Variable Files
.env

